:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #cbe1e9;
  display: flex;
  justify-content: center;
}

canvas {
  border: 1px solid #555;
  border-radius: 11px;
  box-shadow: 1px 1px 10px #555;
}
